<img src= "{{../public/assets/images/burger}}" width="50px" height="50px" alt="Burger"></img>
<h1>Eat - Da - Burger</h1>
<div id="mainBody">
    <div id="burgerTarget">
      <ol>  
        {{#each burgers}}
            {{#unless devoured}}
             <li>
                <p> {{burger_name}}
                  <button data-id="{{id}}" class="devour">Devour it!!</button>
                </p>
            </li>
            {{/unless}}
        {{/each}}  
      </ol>
    </div>
    <div id="form">
      <textarea name="burgerName" id="name"></textarea><br>
      <button type="submit" id="submit">SUBMIT</button><br>
      <h5>Enter the burger you want to eat and hit the submit button</h5>
    </div>
    <div id="devourtarget">
       <ol>  
        {{#each burgers}}
            {{#if devoured}}
             <li>
              <p>{{ burger_name }}</br></p>
            </li>
            {{/if}}
        {{/each}}  
      </ol>
    </div>
</div>